.hero{
    max-width: 10184px;
    padding: 112px 50px 200px;
    margin: 0 auto;
    
    &__description{
      color:$gray;
      font-weight: 300;
      font-style: normal;
      font-size: 1.25rem;
      line-height: 2.25rem;
      max-width: 780px;
      margin-bottom: 2rem;

   }

    &__image{
       width: 120px;
       height: 180px;
    }
    &__link{
      color: $blueish;
      font-weight: 500;
    }
    &__mail{
       color:$blueish;
       font-weight: 500;
       font-size: 1.5rem;
       text-decoration: none;
       padding-bottom: 8px;
       border-bottom: 2px solid $blueish;

    }
    &__title{
       font-style: Poppins;
       font-style: normal;
       font-size: 2.5rem;
       font-weight: 600;
       line-height: 3.5rem; 
       max-width: 780px;
       margin: 2rem 0 1rem;
    }
}