.skills{
    max-width: 1184px;
    margin: 0 auto;
    &__title{
        font-size: 2.25rem;
        margin: 0;
        font-style: normal;
        font-weight: 600;
        padding: 1rem 0;
        border-bottom: 2px solid black;
    }

}

.skills-list{
    display: grid;
    padding: 8rem 0;
    grid-template-columns: 1fr 1fr ;
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__title{
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        margin: 0;
        &::before{
            content: '';
            border-radius: 88px;
            height: 4px;
            display: block;
            background: $green;
            border-radius: 8px;
            margin-bottom: 1.45rem;
        }
    }
}